/********************************************************************************************** GLOABAL STYLES */

/*** main colors for links ***/
a{
	color:#5198E6;
	text-decoration:none;
	}
a:hover{
	color: #04304B;
	
	}
.template_color{
	color:#5198E6;
	}
/*** Login Styles ***/
#client_login #loginform #un,#client_login #loginform #ps{
	color:#5198E6;
	}
	
/*** Drop Down Menu ***/
#menu_wrap  a.current,#menu_wrap  a:hover{
	color:#00436D;		
	}

.sf-menu li li {
	background:		#590358;
	border-bottom:	1px solid #64a6ee;
	border-right:	1px solid #64a6ee;
	border-left:	1px solid #64a6ee;
	
}
.sf-menu li li li {
	background:		#5198E6;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color:#FFFF00;
}

/*** Banner ***/
#banner_wrap{
	background-color:#590358;
	}
#banner_bottom{
	background:#590358 bottom center no-repeat url('../images/banner_corners_bottom.jpg');
	}

/*** Services ***/
.services_table tr.heading td{
	background-color:#5198E6!important;
	color:#FFF;
}

/*** Products ***/
.product table tr td.description img:hover{
	border:4px #5198E6 solid!important;
	}
	
/*** Contact Form ***/
.message{
	color:#FFF;
	background-color:#5198E6;
	}	
table.quote-form .submit{
	background-color:#5198E6;
	color:#FFF;
	}
table.quote-form .submit:hover{
	background-color:#00436D;	
	}	
	
/*** Footer ***/
#footer_container{
	background-color:#590358;
	border-top:1px #5198e6 solid;
	color:#5198e6;
	}
#footer_container a{
	color:#5198e6;
	}	
#footer_container a:hover{
	color:#ffffff;
	}	
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}	
	
